flows.json
[{"id":"69a3c2722757eab3","type":"tab","label":"Fluxo 2","disabled":false,"info":"","env":[]},{"id":"mqtt_in_enose","type":"mqtt in","z":"69a3c2722757eab3","name":"eNose MQTT","topic":"SustainOlive/eNose/Najla","qos":"0","datatype":"auto","broker":"mqtt_emqx","nl":false,"rap":false,"inputs":0,"x":370,"y":400,"wires":[["json_parse"]]},{"id":"json_parse","type":"json","z":"69a3c2722757eab3","name":"Parse JSON","property":"payload","action":"","pretty":false,"x":550,"y":400,"wires":[["debug_node","52446b062dee8d87","ea01c65a27cb99b3","b2b188a6de0992ce","e82a8455d9376a4b","caef3ee82605ac22","2794bb626a3375a1","4f2b7c932abc89c9","861be04208b4b6e8","b900dc25958be1c2","d98981772573f685","a1c4058471c593ee"]]},{"id":"temp_gauge","type":"ui_gauge","z":"69a3c2722757eab3","name":"Temperatura","group":"group_enose","order":1,"width":6,"height":3,"gtype":"gage","title":"Temperatura (°C)","label":"°C","format":"{{value}}","min":0,"max":50,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":140,"wires":[]},{"id":"umid_gauge","type":"ui_gauge","z":"69a3c2722757eab3","name":"Umidade","group":"group_enose","order":2,"width":6,"height":3,"gtype":"gage","title":"Umidade (%)","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":180,"wires":[]},{"id":"mq135_chart","type":"ui_chart","z":"69a3c2722757eab3","name":"MQ3","group":"group_enose","order":3,"width":"0","height":"0","label":"Sensor MQ3","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4095","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1010,"y":220,"wires":[[]]},{"id":"debug_node","type":"debug","z":"69a3c2722757eab3","name":"MQTT Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":580,"wires":[]},{"id":"52446b062dee8d87","type":"change","z":"69a3c2722757eab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.temperatura","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":140,"wires":[["temp_gauge"]]},{"id":"ea01c65a27cb99b3","type":"change","z":"69a3c2722757eab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.umidade","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":180,"wires":[["umid_gauge"]]},{"id":"b2b188a6de0992ce","type":"change","z":"69a3c2722757eab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.mq[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":220,"wires":[["mq135_chart"]]},{"id":"e82a8455d9376a4b","type":"change","z":"69a3c2722757eab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.mq[1]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":260,"wires":[["22f64bafd0c4fcb1"]]},{"id":"22f64bafd0c4fcb1","type":"ui_chart","z":"69a3c2722757eab3","name":"MG811","group":"group_enose","order":3,"width":"0","height":"0","label":"Sensor MG811","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4095","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1020,"y":260,"wires":[[]]},{"id":"caef3ee82605ac22","type":"change","z":"69a3c2722757eab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.mq[2]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":300,"wires":[["a01b8e9876814a4e"]]},{"id":"a01b8e9876814a4e","type":"ui_chart","z":"69a3c2722757eab3","name":"MQ138","group":"group_enose","order":3,"width":"0","height":"0","label":"Sensor MQ138","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4095","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1020,"y":300,"wires":[[]]},{"id":"2794bb626a3375a1","type":"change","z":"69a3c2722757eab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.mq[3]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":340,"wires":[["706742123a8c67cd"]]},{"id":"706742123a8c67cd","type":"ui_chart","z":"69a3c2722757eab3","name":"MQ8","group":"group_enose","order":3,"width":"0","height":"0","label":"Sensor MQ8","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1010,"y":340,"wires":[[]]},{"id":"4f2b7c932abc89c9","type":"change","z":"69a3c2722757eab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.mq[4]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":380,"wires":[["c3b4757a6d343363"]]},{"id":"c3b4757a6d343363","type":"ui_chart","z":"69a3c2722757eab3","name":"MQ7","group":"group_enose","order":3,"width":"0","height":"0","label":"Sensor MQ7","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1010,"y":380,"wires":[[]]},{"id":"861be04208b4b6e8","type":"change","z":"69a3c2722757eab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.mq[5]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":420,"wires":[["943d485dc730bb8e"]]},{"id":"943d485dc730bb8e","type":"ui_chart","z":"69a3c2722757eab3","name":"MQ135","group":"group_enose","order":3,"width":"0","height":"0","label":"Sensor MQ135","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1020,"y":420,"wires":[[]]},{"id":"b900dc25958be1c2","type":"change","z":"69a3c2722757eab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.mq[6]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":460,"wires":[["62f85c09b10e14da"]]},{"id":"62f85c09b10e14da","type":"ui_chart","z":"69a3c2722757eab3","name":"MQ4","group":"group_enose","order":3,"width":"0","height":"0","label":"Sensor MQ4","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1010,"y":460,"wires":[[]]},{"id":"d98981772573f685","type":"change","z":"69a3c2722757eab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.mq[7]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":500,"wires":[["830665e30487cadd"]]},{"id":"830665e30487cadd","type":"ui_chart","z":"69a3c2722757eab3","name":"NH3","group":"group_enose","order":3,"width":"0","height":"0","label":"Sensor NH3","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4095","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1010,"y":500,"wires":[[]]},{"id":"a1c4058471c593ee","type":"change","z":"69a3c2722757eab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.mq[8]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":540,"wires":[["2694e47adb8c3efb"]]},{"id":"2694e47adb8c3efb","type":"ui_chart","z":"69a3c2722757eab3","name":"H2S","group":"group_enose","order":3,"width":"0","height":"0","label":"Sensor H2S","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1010,"y":540,"wires":[[]]},{"id":"eab2f8679f309562","type":"influxdb batch","z":"69a3c2722757eab3","influxdb":"f78935946ff7fa72","precision":"","retentionPolicy":"","name":"SustainOlive_Influx","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"IPB","bucket":"dados_eNose","x":810,"y":760,"wires":[]},{"id":"66a7f87c9f85d609","type":"mqtt in","z":"69a3c2722757eab3","name":"eNose MQTT","topic":"SustainOlive/eNose/Najla","qos":"0","datatype":"auto-detect","broker":"mqtt_emqx","nl":false,"rap":false,"inputs":0,"x":210,"y":760,"wires":[["16269d1e7feaf37c","f6d2c78f6df41bb0"]]},{"id":"3908020018dc5d12","type":"function","z":"69a3c2722757eab3","name":"function 1","func":"var tipo = msg.tipo\n\nmsg.payload=[\n    {\n        measurement: \"TemperaturaAzeite\",\n        fields : {\n            temperature : msg.payload.temperatura,\n        },\n        tags :{\n            sensorID: 20,\n            lote: tipo\n        }\n\n    },\n        {\n        measurement: \"UmidadeAzeite\",\n        fields : {\n            umidade : msg.payload.umidade,\n        },\n        tags :{\n            sensorID: 21,\n            lote: tipo\n        }\n\n    },\n        {\n        measurement: \"Sensor MQ3\",\n        fields : {\n            alcool : msg.payload.mq[0],\n        },\n        tags :{\n            sensorID: 0,\n            lote: tipo\n        }\n\n    },\n        {\n        measurement: \"Sensor MG811\",\n        fields : {\n            co2 : msg.payload.mq[1],\n        },\n        tags :{\n            sensorID: 1,\n            lote: tipo\n        }\n\n    },\n        {\n        measurement: \"Sensor MQ138\",\n        fields : {\n            voc : msg.payload.mq[2],\n        },\n        tags :{\n            sensorID: 2,\n            lote: tipo\n        }\n\n    },\n        {\n        measurement: \"Sensor MQ8\",\n        fields : {\n            hidrogenio : msg.payload.mq[3],\n        },\n        tags :{\n            sensorID: 3,\n            lote: tipo\n        }\n\n    },\n        {\n        measurement: \"Sensor MQ7\",\n        fields : {\n            monoxido : msg.payload.mq[4],\n        },\n        tags :{\n            sensorID: 4,\n            lote: tipo\n        }\n\n    },\n        {\n        measurement: \"Sensor MQ135\",\n        fields : {\n            nocivos : msg.payload.mq[5],\n        },\n        tags :{\n            sensorID: 5,\n            lote: tipo\n        }\n\n    },\n        {\n        measurement: \"Sensor MQ4\",\n        fields : {\n            metano : msg.payload.mq[6],\n        },\n        tags :{\n            sensorID: 6,\n            lote: tipo\n        }\n\n    },\n        {\n        measurement: \"Sensor NH3\",\n        fields : {\n            amonia : msg.payload.mq[7],\n        },\n        tags :{\n            sensorID: 7,\n            lote: tipo\n        }\n\n    },\n        {\n        measurement: \"Sensor H2S\",\n        fields : {\n            sulfeto : msg.payload.mq[8],\n        },\n        tags :{\n            sensorID: 8,\n            lote: tipo\n        }\n\n    }\n ];\n\n return msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":760,"wires":[["eab2f8679f309562","1b8b379a5c762bfd"]]},{"id":"1b8b379a5c762bfd","type":"debug","z":"69a3c2722757eab3","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":820,"wires":[]},{"id":"16269d1e7feaf37c","type":"change","z":"69a3c2722757eab3","name":"","rules":[{"t":"set","p":"tipo","pt":"msg","to":"AzeiteBom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":760,"wires":[["3908020018dc5d12"]]},{"id":"f6d2c78f6df41bb0","type":"debug","z":"69a3c2722757eab3","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":680,"wires":[]},{"id":"mqtt_emqx","type":"mqtt-broker","name":"EMQX Public","broker":"broker.emqx.io","port":"1883","clientid":"NodeREDClient","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"group_enose","type":"ui_group","name":"eNose Dados","tab":"tab_enose","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"f78935946ff7fa72","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"database","name":"SustainOlive_Influx","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","timeout":10,"rejectUnauthorized":true},{"id":"tab_enose","type":"ui_tab","name":"Monitor eNose","icon":"dashboard","order":1}]